<script type="text/template" id="file_entry_template">
    <tr data-path="$$NAME$$" class="click_enabled">
        <td class="file_entry_icon">$$ICON$$</td>
        <td class="align-middle">$$NAME$$</td>
        <td class="align-middle">$$SIZE$$</td>
        <td class="align-middle">$$LAST_MODIFIED$$</td>
    </tr>
</script>

<div class="row">
    <div class="col-12">
        <h2>File Explorer</h2>
    </div>
    <div class="col-12">
        <h4>Path:</h4>
    </div>
    <div class="col" style="max-width:100px;">
        <select id="drive_selector" class="form-control" onchange="changeDrive()" style="width:100px;">
        </select>
    </div>
    <div class="col m-l-sm">
        <input id="path" type="text" class="form-control" />
    </div>
</div>
<div class="table_scroll m-t-sm">
    <table class="table table-bordered file_table">
        <thead>
            <tr>
                <th class="file_entry_icon"></th>
                <th>Name</th>
                <th>Size</th>
                <th>Last Modified</th>
            </tr>
        </thead>
        <tbody id="files_container">
        </tbody>
    </table>
</div>  

<div class="modal fade" id="install_package_modal" tabindex="-1" role="dialog"
    aria-labelledby="install_package_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">Continue with installing <span class="install_package_name"></span>?
                <p>
                <div id="obb_detected" class="text-success">OBB folder detected</div>
                <div id="install_detected" class="text-success">install.txt detected</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="installPackage()">Install</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>