<script type="text/template" id="installed_package_template">
    <tr data-package="$$PACKAGE$$">
        <td><div class="image_container"><img class="align-middle" src="$$ICON$$"/></div></td>
        <td class="align-middle">$$NAME$$</td>
        <td class="align-middle">$$PACKAGE$$</td>
        <td class="align-middle">$$VERSION$$</td>
        <td class="align-middle">
            <a class="btn btn-white dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-gear"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li onclick="showUninstallModal($(this).parents('tr'))"><a class="dropdown-item">Uninstall</a>
                </li>
                <li><a class="dropdown-item">Backup App & OBB</a>
                </li>
            </ul>
            <!--button class="btn btn-danger btn-sm" onclick="uninstallApp('')">Uninstall</button-->
        </td>
    </tr>
</script>

<h2>Installed Packages</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <td></td>
            <td>Name</td>
            <td>Package</td>
            <td>Version</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody id="installed_packages_container">
    </tbody>
</table>

<div class="modal fade" id="uninstall_package_modal" tabindex="-1" role="dialog"
    aria-labelledby="uninstall_package_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">Uninstall <span class="uninstall_package_name"></span>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="uninstallPackage()">Uninstall</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>