body.file_explorer {
    & .table_scroll {
        overflow-y:auto;
        max-height:calc(100vh - 150px);
    }

    & .file_table {
        max-width: 800px;
        height: 100%;

        & thead tr, thead th {
            top: 0px;
            position: sticky;
            background-color: #fff;
        }
        
        & tbody tr {
            background-color: #ddd;
        }

        & td {
            padding:4px;
            white-space: nowrap;
        }

        & tr th:nth-child(2) {
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;;
        }

        & tr th:nth-child(3) {
            width: 90px;
        }

        & tr th:nth-child(4) {
            width: 90px;
        }

        & tr td:nth-child(2) {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;;
        }

        & .apk {
            font-size:12px;
            font-weight:bold;
            color:var(--orange);
        }

        & .obb {
            font-size: 12px;
            font-weight: bold;
            color:var(--blue);
        }

        & .install {
            font-size: 12px;
            font-weight: bold;
            color:var(--green);
        }
    }

    & #obb_detected, #install_detected {
        display:none;
    }

    & .click_enabled {
        cursor: pointer;
    }

    & .disabled {
        color: var(--gray);
    }    

    & #install_package_progress .modal-body #regular_txt_progress > div > div, #install_package_progress .modal-body #install_txt_progress>div>div {
        width:170px;
        display:inline-block;
    }

    & #obb_progress, #apk_progress {
        font-size:9px;
    }
}